<section class="background-titulo">
  <h1 class="titulo-produtos">Produtos</h1>
</section>
<section class="produtos">
  <div class="produtos-grid">
    <div class="categorias-flex">
      <h1>Categorias</h1>
      <!-- <a class="link-categoria" onclick="">Ferragem</a>
      <a class="link-categoria" onclick="">Acrilica</a>
      <a class="link-categoria" onclick="">Solventes</a>
      <a class="link-categoria" onclick="">Materiais de pintura</a>
      <a class="link-categoria" onclick="">Equipamentos de Proteção</a> -->
      <a *ngFor="let category of linksCategory" class="link-categoria" (click)="filterProducts(category.label)">
        {{category.label}}
      </a>
    </div>

    <div class="products-container">
      <div *ngFor="let product of products" class="product-card produto">
        <img [src]="product.image" [alt]="product.name" class="product-image" />
        <div class="product-info">
          <h3>{{ product.name }}</h3>
          <p><strong>Categoria:</strong> {{ product.category }}</p>
          <button class="btn btn-primary" (click)="openModal(product)">Saiba mais</button>
        </div>
      </div>
    </div>
  </div>
  <intra-modal></intra-modal>
</section>
<router-outlet></router-outlet>