<section class="background-titulo">
  <h1 class="titulo-produtos">Produtos</h1>
</section>
<section class="produtos">
  <div class="produtos-grid">
  <div class="categorias-flex">
   <h1>Categorias</h1>
   <a class="link-categoria" routerLink="">Ferragem</a>
   <a class="link-categoria" routerLink="">Acrilica</a>
   <a class="link-categoria" routerLink="">Solventes</a>
   <a class="link-categoria" routerLink="">Materias de pintura</a>
   <a class="link-categoria" routerLink="">Equipamentos de Proteção</a>
  </div>
  <div class="produtos-flex">
  
 </div>
</div>
</section>