<section class="background-titulo">
  <h1 class="titulo-produtos">Produtos</h1>
</section>
<section class="produtos">
  <div class="produtos-grid">
    <div class="categorias-flex">
      <h1>Categorias</h1>
      <a class="link-categoria" routerLink="ferragens" routerLinkActive="active">Ferragem</a>
      <a class="link-categoria" routerLink="acrilica" routerLinkActive="active">Acrilica</a>
      <a class="link-categoria" routerLink="solventes" routerLinkActive="active">Solventes</a>
      <a class="link-categoria" routerLink="materiais-pinturas" routerLinkActive="active">Materiais de pintura</a>
      <a class="link-categoria" routerLink="equipamentos-protecao" routerLinkActive="active">Equipamentos de Proteção</a>
    </div>

    <div class="produtos-flex">
      <div class="produto">
        <div>
          <img src="assets/images/004591fb67cf8816eb223c36a0cef2c4.jpg" alt="Solvente Aguarrás" width="200px" height="200px" />
          <h4>Aguarrás <br />Solvente</h4>
          <button type="button" class="center" (click)="openModalWithInterceptor(template)">
            Saiba Mais
          </button>
    <ng-template #template>
      <div class="modal-body text-center">
      <p>Do you really want to close?</p>
      <button type="button" class="btn btn-default" (click)="confirm()" >Yes</button>
      <button type="button" class="btn btn-primary" (click)="decline()" >No</button>
    </div>
    </ng-template>
        </div>
      </div>

      <div class="produto">
        <a href="">
          <img src="assets/images/tinta_esmalte_contra_ferrugem_preto_brilho_3_6l_suvinil_158273_1_86ac7cbda77f12415c70f96a2e45899a.webp" alt="Ferrugem Cor e Proteção" width="200px" height="200px">
          <h4>Cor e Proteção<br>Ferragem</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/tinta-acrilica-fosca-absoluto-premium-3-6l-futura.jpg" alt="Tinta Acrilica Acabamento Fosco Absoluto" width="200px" height="200px">
          <h4>Fosco Absoluto<br>Acrilica</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets\images\Luva-Nitrílica-Volk-Sem-Forro-Verde-Volk-CA-16314-300x300.jpg.webp" alt="Luvas de Segurança" width="200px" height="200px">
          <h4>Luvas de Segurança <br>Proteção</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets\images\Oculos-de-Seguranca-Ampla-Visao-Spider-Valeplast-CA-40957-300x300.jpg.webp" alt="Óculos de Segurança" width="200px" height="200px">
          <h4>Óculos de Segurança <br>Proteção</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/tinta-emborrachada-suvinil-lago-profundo-3-2-l.jpg" alt="Tinta Acrilica Proteção Total" width="200px" height="200px">
          <h4>Proteção Total <br>Acrilica</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/pincel_trincha_tigre_2_50mm_vermelho_6477_1_4898a23bb7a7284e90ad4113e3a0d60e.webp" alt="Pincel" width="200px" height="200px">
          <h4>Pincel Trincha <br> Material</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets\images\8135bec61b14ef5745704e90f82ef706.webp" alt="Rolo" width="200px" height="200px">
          <h4>Rolo Lã Epoxi <br> Material</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/168650-800-800.png" alt="Ferrugem Sempre Branco">
          <h4>Sempre Branco <br>Ferragem</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/925.webp" alt="Solvente Super Epóxi" width="200px" height="200px">
          <h4>Super Epóxi <br>Solvente</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
      <div class="produto">
        <a href="">
          <img src="assets/images/\tinta-acrilica-acetinada-suvinil-resina-aromatica-3-2-l.jpg " alt="Tinta Acrilica Toque de Seda" width="200px" height="200px">
          <h4>Toque de Seda <br>Acrilica</h4>
          <span class="center">Saiba Mais</span>
        </a>
      </div>
    </div>
  </div>
</section>
<router-outlet></router-outlet>

