<header>
  <div class="container-header">
   <div class="header-top">
     <!-- Logo da empresa -->
     <div class="logo">
       <img src="/assets/images/Group90.png" alt="Logo"/>
     </div>
 
     <!-- Barra de pesquisa -->
     <div class="search-bar">
       <input type="text" placeholder="Pesquisar produto..." />
       <button>
         <i class="fas fa-search"></i>
       </button>
     </div>
 
     <!-- Links de conta e carrinho -->
     <div class="account-actions">
       <a class="sign-up" routerLink="/signup">Cadastre-se</a>
       <a class="login-btn" routerLink="/login">Entrar</a>
       <div class="cart">
         <i class="fa fa-shopping-cart"></i>
         <span class="cart-count">0</span>
       </div>
     </div>
   </div>
 
   <!-- Navegação principal -->
   <nav class="header-bottom">
     <ul>
       <li><a routerLink="/">Home</a></li>
       <li><a routerLink="/about">Sobre a Empresa</a></li>
       <li><a routerLink="/products">Produtos</a></li>
       <li><a routerLink="/orders">Meus Pedidos</a></li>
     </ul>
   </nav>
  </div>
 </header>
