<section class="background-titulo">
  <h1 class="titulo-carrinhos">Seu Carrinho</h1>
</section>
<div class="main">
  <div class="content">
    <section>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Preço</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts">
            <td>
              <div class="product">
                <img [src]="product.image" [alt]="product.name">
                <div class="info">
                  <div class="name">{{ product.name }}</div>
                </div>
              </div>
            </td>
            <td>{{ product.category }}</td>
            <td>{{ product.price }}</td>
            <td>
              <button class="remove" (click)="removeFromCart(product.cartItemId)">
                <i class="fas fa-xmark"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <aside>
      <div class="box">
        <header>Resumo da compra</header>
        <div class="info">
          <div *ngFor="let product of cartProducts" class="summary-item">
            <span>{{ product.name }}</span>
            <span>{{ product.price }}</span>
          </div>
        </div>
        <footer>
          <span>Total:</span>
          <span>{{ totalPrice | currency:'BRL' }}</span>
        </footer>
      </div>
      <button class="pagamento" (click)="finalizarCompra()">Finalizar Pagamento</button>
    </aside>
  </div>
</div>