<section class="background-titulo">
  <h1 class="titulo-carrinhos">Seu Carrinho</h1>
</section>
<div class="main">
  <div class="content">
    <section>
      <table>
        <thead>
          <tr>
            <th>Produto</th>
            <th>Categoria</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of cartProducts">
            <td>
              <div class="product">
                <img [src]="product.image" [alt]="product.name">
                <div class="info">
                  <div class="name">{{ product.name }}</div>
                </div>
              </div>
            </td>
            <td>{{ product.category }}</td>
            <td>
              <button class="remove" (click)="removeFromCart(product)">
                <i class="fas fa-xmark"></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
    <aside>
      <div class="box">
        <header>Resumo da compra</header>
        <div class="info">
          <div><span>Sub-total</span><span>R$ 418</span></div>
          <div><span>Frete</span><span>Gratuito</span></div>
        </div>
        <footer>
          <span>Total</span>
          <span>R$ 418</span>
        </footer>
      </div>
      <button class="pagamento">Finalizar Compra</button>
    </aside>
  </div>
</div>