<div class="background">
  <div class="logo-container">
  </div>
  <div class="balde-container">
    <img src="assets/images/baldecomlogo.png" alt="Balde" class="Balde" />
  </div>

  <div class="container">
    <h1>Login de Clientes</h1>
    <div class="input-container">
      <input type="email" id="email" placeholder="Digite seu email" required />
      <img src="https://img.icons8.com/ios/50/new-post.png" alt="email-icon" />
    </div>
    <div class="input-container">
      <input
        type="password"
        id="senha"
        placeholder="Digite sua senha"
        required
      />
      <img src="https://img.icons8.com/ios/50/lock-2.png" alt="senha-icon" />
    </div>
    <button class="submit-button" type="submit">Entrar</button>

    <!-- Link para o cadastro -->
    <div class="link-container">
      <p>Não tem uma conta? <a routerLink="/cadastro">Cadastre-se</a></p>
    </div>
  </div>
</div>
