<div 
  class="carousel" 
  (click)="onClick()"
  (mousedown)="onMouseDown($event)" 
  (mousemove)="onMouseMove($event)" 
  (mouseup)="onMouseUp()" 
  (mouseleave)="onMouseUp()" 
  (touchstart)="onTouchStart($event)" 
  (touchmove)="onTouchMove($event)" 
  (touchend)="onTouchEnd()"
>
  <img [src]="images[currentImageIndex]" alt="Imagem do Carrossel" class="carousel-image" />
  
  <div class="carousel-indicators">
    <span 
      *ngFor="let image of images; let i = index" 
      [class.active]="i === currentImageIndex"
      (click)="goToImage(i); $event.stopPropagation()">
    </span>
  </div>
</div>
