.background-titulo{
  background-color: #ecdf02;
  padding: 30px 0;
  width: 100%;
  margin: 0 auto;
 
}

.titulo-about{
  color: #3e4095;
  display: block; 
  text-align: start;
  font-size: 40px;
  font-weight: 700;
  padding-left: 250px;
  padding-top: 20px;
}

.background-about{
 height: 50vh;
  background: url('/assets/images/banner-home.jpg') no-repeat;
  object-fit: contain;
}
.grid-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.texto{
  grid-column: 2 / 3;
  padding: 50px 100px;
}

.font-16{
  margin-bottom: 0px;
  font-size: 28px;
}

.titulo{
  margin-top: 0px;
  color: #3e4095;
  display: block; 
  text-align: start;
  font-size: 40px;
  font-weight: 700;
}

.descricao{
  font-size: 20px;
  text-align: justify;
  line-height: 2rem;
  padding-top: 20px;
}

.center{
 width: 100%;
 box-sizing: border-box;
 padding: 0 10px;
 max-width: 1170px;
 margin: 0 auto;
}

.biografia{
  display: block;
  padding: 20px 50px;
  text-align: justify;
 justify-content: center;
 line-height: 2rem;
}

.titulo-biografia{
  margin:10px 0px;
}