<section class="background-titulo">
  <h1 class="titulo-about">Quem Somos</h1>
</section>
<section class="background-about">
  <div class="grid-banner">
    <div class="texto">
      <div class="flex-banner">
        <p class="font-16">Nosso compromisso</p>
        <p class="titulo">Qualidade, agilidade <br>e preço baixo</p>
        <p class="descricao">A Colorama se destaca pelas tendências e inovações, marcando presença nos principais eventos de arquitetura e decoração do país. Sempre à frente em cursos e lançamentos para profissionais da pintura, garante a fidelidade e a qualidade de seus produtos.</p>
      </div>
    </div>

  </div>
</section>
<div class="center">
<section class="biografia">
<p>Desde abril de 2003, Maracanaú conta com um novo conceito de lojas de tintas. Com inspiração nas cores e seguindo as tendências de mercado, surgiu a Colorama, uma loja decorada com uma infinidade de tons expostos para melhor escolha, atendimento em mesas, personalizando a experiência do cliente. Em Agosto de 2008, a Colorama abriu uma filial na zona sul da cidade, primeira loja de tintas em Maracanaú a abrir em bairro nobre. Em julho de 2015 abriu uma nova filial na cidade de Fortaleza - CE <br> <br> Com visão de futuro, a Colorama apostou em um relacionamento próximo ao cliente e na exposição diferenciada, encantando profissionais e consumidores. Sempre antenados às novidades e com muito trabalho e dedicação, hoje se tornou uma referência em tintas para Maracanaú e região. </p>
<h2 class="titulo-biografia">Missão</h2>
<p>Ser inspiração em cores, encantando nossos clientes, colaboradores e fornecedores, com qualidade e ética, agregando valores a sociedade.</p>
<h2 class="titulo-biografia">Visão</h2>
<p>Ser líder no mercado varejista de tintas imobiliárias atuando de forma responsável, segura e sustentável </p>
<h2 class="titulo-biografia">Valores</h2>
<p>Agir de forma correta, transparente, e ética; <br> <br>Crescer Juntos.</p>
</section>
</div>