.banner-about{
  height: 50vh;
  background: url('/assets/images/banner-home.jpg') no-repeat;
}
.grid-banner{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
}

.texto{
  grid-column: 2 / 3;
  padding: 40px 100px;
}

.flex-banner{
  display: flex;
  flex-direction: column;
}

.font-16{
  font-size: 28px;
  display: inline-block;
}

.titulo{
  color: #3e4095;
  display: block; 
  text-align: start;
  font-size: 40px;
  font-weight: 700;
  padding-top: 40px;
}

.about-button a{
  color: #ffffff;
  background-color: #3e4095;
  border-radius: 5px;
  display: block;
  text-transform: uppercase;
  font-size: 16px;
  padding: 20px 0px;
  text-align: center;
  font-weight: 600;
  max-width: 270px;
  text-decoration: none;
  margin-top: 50px;
}

.about-button a:hover{
  background-color: #0056b3;
}

.produtos-home{
  margin: 0 auto;
}

.produtos-home > h4{
  font-size: 24px;
  color: #595959;
  font-weight: 500;
  margin-bottom: 20px;
}

.center{
  text-align: center;
}

.subtitulo{
  display: inline-block;
  padding: 20px 0;
}

.linha{
  display: flex;
  gap: 10px;
  justify-items: center;
  align-items: center;
}

.produtos-home{
  padding-top: 40px;
}

.categorias{
  margin: 70px 0;
}

.corpo-categorias{
  max-width: 1080px;
  margin: 20px auto;
  padding-left: 25px;
  padding-right: 25px;
}

.produto{
  max-width: 250px;
  width: 100%;
  padding:20px;
  height: 250px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
}

.produto img{
  width: 100%;
  max-height: 150px;
  object-fit: contain;
}

.produto a{
  text-decoration: none;
  text-align: center;
}

@media (max-width: 1200px) {
  .banner-about {
    height: auto;
  }
  .texto{
    grid-column: 1 / 2;
  }

  .titulo {
    font-size: 26px;
  }
}

@media (max-width: 788px) {
  .texto {
    padding: 20px;
  }

  .font-16{
    grid-column: 1/2;
  }
  
  .titulo {
    font-size: 26px;
  }

  .linha {
    flex-direction: column;
  }

  .about-button a {
    padding: 12px 8px;
    font-size: 12px;
    max-width: 200px;
  }
}

@media (max-width: 480px) {
  .grid-banner {
    padding: 10px;
  }

  .titulo {
    font-size: 24px;
  }

  .produto {
    max-width: 100%;
  }
}