<app-carousel></app-carousel>
<section class="banner-about">
   <div class="grid-banner">
      <div class="texto">
         <p class="font-16">Nosso compromisso</p>
         <p class="titulo">Qualidade, agilidade <br>e preço baixo</p>
         <div class="about-button">
            <a routerLink="/about">Conheça nossa empresa</a>
         </div>
      </div>
   </div>
</section>
<section>
   <div class="produtos-home">
      <div class="corpo-categorias">
         <p class="titulo center">Linha de Categorias</p>
         <p class="subtitulo">Veja as categorias dos produtos de nossa loja</p>
         <div class="linha">

            <div class="col-4">
               <a href="">
                  <img src="assets/images/tinta_esmalte_contra_ferrugem_preto_brilho_3_6l_suvinil_158273_1_86ac7cbda77f12415c70f96a2e45899a.webp" alt="Ferrugem" width="200px" height="200px">
                  <h4>Tintas para Ferragens</h4>
               </a>
            </div>
            <div class="col-4">
               <a href="">
                  <img src="assets/images/tinta-acrilica-fosca-absoluto-premium-3-6l-futura.jpg" alt="Tinta Acrilica" width="200px" height="200px">
                  <h4>Tintas Acrilica</h4>
               </a>
            </div>
            <div class="col-4">
               <a href="">
                  <img src="assets/images/7891260022665-b8cec64332b327fcc017030058995576-1024-1024.jpg" alt="Solvente" width="200px" height="200px">
                  <h4>Solventes</h4>
               </a>
            </div>
            <div class="col-4">
               <a href="">
                  <img src="assets/images/3098116_kit-de-pintura-profissional-pegue-e-pinte-com-7-pecas-0-969-compel_m3_638549064762255034.webp" alt="Materias de pintura" width="200px" height="200px">
                  <h4>Ferramentas para pintura</h4>
               </a>
            </div>
            <div class="col-4">
               <a href="">
                  <img src="assets/images/EPI.png" alt="Materias de pintura" width="500px" height="200px">
                  <h4>Equipamentos de Proteção</h4>
               </a>
            </div>

         </div>
      </div>
   </div>
</section>