<footer>
  <div class="background-footer">
  <div class="footer-content">
    <div class="social-options">
      <img class="footer-img" src="assets/images/Group90.png" alt="Logo">
      <p>"Levando qualidade, inovação e as melhores cores até você. Juntos, pintamos o futuro!"</p>
      <p>Visite nossas redes sociais</p>  
    <div class="social-icons">
     <a href="https://www.facebook.com">
      <i class="fab fa-facebook-f fa-2x"></i>
     </a>
     <a href="https://www.instagram.com">
       <i class="fab fa-instagram fa-2x"></i>
     </a>
      <a href="https://www.twitter.com">
       <i class="fab fa-x-twitter fa-2x"></i>
     </a> 
     </div>
    </div>
    <div class="contato">
    <h4 class="contato-titulo">Contato</h4>
    <p class="descricao">Av. Parque Central, 1315 - Distrito Industrial I, Maracanaú - CE, 61939-140</p>
    </div>
  </div>
</div>
<div class="direitos-autorais">
<p>"© 2025 Colorama. Todos os direitos reservados. As cores da sua criatividade começam aqui."</p>
</div>
</footer>
